
@media (min-width:320px) and (max-width:570px)
{
    #main
    {
        height: 100%;
        padding-bottom: 100px;
    }
    .navbar
    {
        position: fixed;
        top: 0;
        right: 0;
        background: #fff;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
        transform: translateY(-250px);
        transition: all .5s;
        z-index: 60;
    }
    
    .navbar ul li
    {
        display: block;
        margin-top: 12px;
       
    }
    .navbar ul li a
    {
        color: #000;
    }
    .header .logo 
    {
   
        padding:10px 10px;
        margin-bottom: 20px;
    }
    .header .logo img
    {
        height: 50px;
    }
    .hidden-menu
    {
        display: block;
       
    }
    .hidden-menu i
    {
        color: #fff;
        cursor: pointer;
        font-size: 30px;
        position: relative;
        top: -10px;
       
    }
    .header.activeheader
    {
        padding-bottom: 0px;
        padding-top: 20px;
    }
    .header.activeheader .hidden-menu i
    {
        color: #000;
    }
    .hidden-nav-sec
    {
        position: relative;
        display: block;
    }
    .hidden-cross
    {
        position: absolute;
        top: 20px;
        right: 50px;
    }
     .hidden-cross i
    {
        color: #000;
        font-size: 30px;
        cursor: pointer;
        
    }
    .hidden-cross i:hover
    {
        color: var(--commoncolor);
    }
    
    .main-content
    {
        
        padding-top: 250px;
        padding-right: 5px;
        padding-left: 5px;
    }
    .main-content h1
    {
        font-size: 45px;
       
    }
    .main-content .wel-para
    {
        font-size: 20px;
    }

    .main-content .main-btn
    {
        padding: 12px 15px;
    }

     /*--------++ welcome container media query ++--------- */


     .welcome-sec
     {
         width: 90%;
         flex-direction: column;
     }
     .welcome-sec .wel-cols
     {
         width: 100%;
     }
     .welcome-sec .wel-cols:nth-child(2)
     {
         margin-top: 50px;
         padding-left: 0px;
     }

     .common-heading h2
     {
        font-size: 35px;
     }
     .wel-col-info .learn-btn
     {
        padding: 12px 10px;
     }

     /*--------++ packges media query ++--------- */

    .package-inner
    {
        width: 90%;
       
    }
    .package-sec
    {
        flex-direction: column;
    }
    .package-col
    {
        width: 100%;
        margin-bottom: 50px;
    }
     
    .book-col .book-btn
    {
        padding: 10px 15px;
    }
    .view-btn .viewBtn
    {
        margin-top: 20px;
        padding: 12px 15px;
    }

    /*--------++ offer section media query ++--------- */

    .email-sec input
    {
        width: 90%;
        height: 45px;
        font-size: 16px;
    }
    .offer-sec h2
    {
       font-size: 40px;
    }
    .email-sec .subs-btn
    {
        padding: 12px 15px;
        margin-top: 20px;
    }

    /*--------++ places section media query ++--------- */

    .places-sec
    {
       width: 90%;
       flex-direction: column;
    }
    .places-sec .place-col
    {
       width: 100%;
       height: 400px;
       margin:30px auto;
    }

    /*--------++ counter section media query ++--------- */

    .counter-sec
    {
       width: 90%;
       flex-direction: column;
    }
    .counter-sec .counter-col
    {
       width: 50%;
       margin:30px auto;
    }
    .counter-sec .counter-col h2
    {
        font-size: 50px;
    }

    /*--------++ testimonials section media query ++--------- */


    #testimonials
    {
        padding-bottom: 150px;
    }
    .testimonials-sec
    {
       width: 90%;
    }
   .carousel-cell
    {
       width: 100%;
    }
    .carousel {
   
        margin: 0px 20px; /* space for prev/next buttons */
      }
      /* position outside */
  .flickity-prev-next-button.previous {
    left: -20px;
    top: 370px;
    transform: translateX(50px);
  }
  .flickity-prev-next-button.next {
    right: -20px;
    top: 370px;
    transform: translateX(-50px);
  }

  /*--------++ footer section media query ++--------- */

  .footer-sec
  {
    width: 90%;
    flex-direction: column;
  }
  .footer-sec .footer-col
  {
    
    width: 100%;
    margin-bottom: 50px;
  }
  .footer-sec .footer-col:nth-child(2)
 {
     padding-left: 0px;
     
 }
     
}

@media (min-width:570px) and (max-width:768px)
{
    .header
    {

        flex-direction: column;
    }
    .header .logo 
    {
   
        padding:10px 10px;
        margin-bottom: 20px;
    }
    .header .logo img
    {
        height: 50px;
    }
    .header.activeheader
    {
        padding-bottom: 20px;
    }

    .main-content h1
    {
        font-size: 65px;
       
    }
    .main-content .wel-para
    {
        font-size: 25px;
    }

    /*--------++ welcome container media query ++--------- */


    .welcome-sec
    {
        width: 80%;
        flex-direction: column;
    }
    .welcome-sec .wel-cols
    {
        width: 100%;
    }
    .welcome-sec .wel-cols:nth-child(2)
    {
        margin-top: 50px;
        padding-left: 0px;
    }
    .common-heading h2
     {
        font-size: 40px;
     }

     /*--------++ packges media query ++--------- */

    .package-inner
    {
        width: 80%;
       
    }
    .package-sec
    {
        flex-direction: column;
    }
    .package-col
    {
        width: 100%;
        margin-bottom: 50px;
    }
    .view-btn .viewBtn
    {
        margin-top: 30px;
    }

     /*--------++ offer section media query ++--------- */

     .email-sec input
     {
         width: 50%;

     }
     .offer-sec h2
     {
        font-size: 50px;
     }

     /*--------++ places section media query ++--------- */

     .places-sec
     {
        width: 90%;
        flex-direction: column;
     }
     .places-sec .place-col
     {
        width: 80%;
        height: 400px;
        margin:30px auto;
     }

     /*--------++ counter section media query ++--------- */

     .counter-sec
     {
        width: 90%;
        flex-direction: column;
     }
     .counter-sec .counter-col
     {
        width: 50%;
        margin:30px auto;
     }

     /*--------++ testimonials section media query ++--------- */

     .testimonials-sec
     {
        width: 80%;
     }
    .carousel-cell
     {
        width: 100%;
        
     }
     
      /*--------++ footer section media query ++--------- */

      .footer-sec
      {
        width: 80%;
        flex-direction: column;
      }
      .footer-sec .footer-col
      {
        
        width: 100%;
        margin-bottom: 50px;
      }
      .footer-sec .footer-col:nth-child(2)
     {
         padding-left: 0px;
         
     }
     
     
     
     
}

@media (min-width:768px) and (max-width:960px)
{
    .header .logo img
    {
        height: 50px;
    }
    .header .logo 
    {
   
        padding:10px 10px;
    
    }
    .main-content h1
    {
        font-size: 80px;
       
    }
    .main-content .wel-para
    {
        font-size: 30px;
    }

    /*--------++ welcome container media query ++--------- */


    .welcome-sec
    {
        width: 80%;
        flex-direction: column;
    }
    .welcome-sec .wel-cols
    {
        width: 100%;
    }
    .welcome-sec .wel-cols:nth-child(2)
    {
        margin-top: 50px;
        padding-left: 0px;
    }

     /*--------++ packges media query ++--------- */

    .package-inner
    {
        width: 70%;
       
    }
    .package-sec
    {
        flex-direction: column;
    }
    .package-col
    {
        width: 100%;
        margin-bottom: 50px;
    }
    .package-img
    {
        height: 400px;
    }
    .package-img img
    {
        object-fit: cover;
    }
    .view-btn .viewBtn
    {
        margin-top: 30px;
    }

     /*--------++ offer section media query ++--------- */

     .email-sec input
     {
         width: 40%;
     }
     .offer-sec h2
     {
        font-size: 55px;
     }

     /*--------++ places section media query ++--------- */

     .places-sec
     {
        width: 80%;
        flex-direction: column;
     }
     .places-sec .place-col
     {
        width: 70%;
        height: 400px;
        margin:30px auto;
     }

     /*--------++ counter section media query ++--------- */

     .counter-sec
     {
        width: 90%;
        flex-direction: column;
     }
     .counter-sec .counter-col
     {
        width: 50%;
        margin:30px auto;
     }
     /*--------++ testimonials section media query ++--------- */

     .testimonials-sec
     {
        width: 70%;
     }
    .carousel-cell
     {
        width: 100%;
     }

     /*--------++ footer section media query ++--------- */

     .footer-sec
     {
        width: 80%;
        flex-wrap: wrap;
     }
     .footer-sec .footer-col
     {
         width: 50%;
         color: #fff;
     }
     .footer-sec .footer-col:nth-child(2)
     {
         padding-left: 80px;
         
     }
     .footer-sec .footer-col:nth-child(4)
     {
         padding-left: 80px;
         margin-top: 30px;
     }
     .footer-sec .footer-col:nth-child(3)
     {
        
         margin-top: 30px;
     }
     
}

@media (min-width:960px) and (max-width:1200px)
{

     /*--------++ welcome container media query ++--------- */

    .welcome-sec
    {
        width: 90%;
    }

    /*--------++ packges media query ++--------- */

    .package-inner
    {
        width: 95%;
    }

    /*--------++ offer section media query ++--------- */

    .email-sec input
    {
        width: 40%;
    }

     /*--------++ places section media query ++--------- */

     .places-sec
     {
        width: 95%;
     }

     /*--------++ counter section media query ++--------- */

     .counter-sec
     {
        width: 90%;
     }

     /*--------++ testimonials section media query ++--------- */

     .testimonials-sec
     {
        width: 90%;
     }

     /*--------++ footer section media query ++--------- */

     .footer-sec
     {
        width: 90%;
     }
     .footer-sec .footer-col:nth-child(2)
     {
         padding-left: 30px;
     }

}




